version: '2'

networks:
  net:
    driver: bridge

services:
  redis:
    image: hub.qucheng.com/app/redis:3.2.12-alpine3.8
    container_name: redis
    command: --loglevel warning
    networks:
      - net

  mysql:
    image: hub.qucheng.com/app/mysql:5.7.37-debian-10
    container_name: mysql
    ports:
      - '3307:3306'
    volumes:
      - 'db:/var/lib/mysql'
    environment:
      - MYSQL_ROOT_PASSWORD=pass4Spug
      - MYSQL_DATABASE=spug
    command: 
      - /opt/bitnami/scripts/mysql/run.sh
      - --character-set-server=utf8mb4 
      - --collation-server=utf8mb4_unicode_ci
    networks:
      - net

  spug:
    image: hub.qucheng.com/app/spug:${TAG}
    container_name: spug
    ports:
      - '8080:80'
      - '2222:80'
    volumes:
      - 'data:/data'
    depends_on:
      - redis
      - mysql
    environment:
      - EASYSOFT_DEBUG=true
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_USER=root
      - MYSQL_PASSWORD=pass4Spug
      - MYSQL_DB=spug
      - REDIS_HOST=redis
      - REDIS_PASSWORD=pass4Spug
      - DEFAULT_ADMIN_USER=admin
      - DEFAULT_ADMIN_PASSWORD=spug.dev
    networks:
      - net

volumes:
  db:
    driver: local
  data:
    driver: local
