networks:
  net:
    driver: bridge

services:
  redis:
    image: redis:7.4.1-alpine3.20
    container_name: redis
    command: --loglevel warning
    networks:
      - net

  mysql:
    image: bitnami/mariadb:10.6.19
    container_name: mysql
    ports:
      - '3307:3306'
    volumes:
      - 'db:/var/lib/mysql'
    environment:
      - MARIADB_CHARACTER_SET=utf8mb4
      - MARIADB_COLLATE=utf8mb4_unicode_ci
      - MARIADB_ROOT_PASSWORD=pass4Spug
      - MARIADB_PASSWORD=pass4Spug
      - MARIADB_USER=spug
      - MARIADB_DATABASE=spug
    networks:
      - net

  spug:
    image: hub.zentao.net/app/spug:${TAG}
    pull_policy: always
    container_name: spug
    ports:
      - '8080:80'
      - '2222:80'
    volumes:
      - 'data:/data'
    depends_on:
      - redis
      - mysql
    environment:
      - EASYSOFT_DEBUG=true
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_USER=spug
      - MYSQL_PASSWORD=pass4Spug
      - MYSQL_DB=spug
      - REDIS_HOST=redis
      # - REDIS_PASSWORD=pass4Spug
      - DEFAULT_ADMIN_USER=admin
      - DEFAULT_ADMIN_PASSWORD=spug.dev
    networks:
      - net

volumes:
  db:
    driver: local
  data:
    driver: local
